# Node modules
node_modules/

# Playwright test results
test-results/
playwright-report/
blob-report/
html-report/

#reports/
reports/
allure-results/
test-results/


# Playwright storage state
*.json
!package.json
!package-lock.json
!tsconfig.json
!playwright.config.ts
!logindata.json

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# TypeScript build output
dist/
out/

# Coverage
coverage/
